section.cover.has-mask .mask {
    opacity: 0.5;
}

section.cover {
    background-position: top!important;
}

body {
    font-family: "LXGW WenKai", sans-serif;
}
@font-face {
	font-family:nier;
	src: url('/static/nier.ttf');
}
section.cover{
    font-family: "nier", sans-serif;
}
.sidebar>h1 a{
    font-family: "nier", sans-serif;
}

/* Mono font (optional) */
pre,code {
    border-radius: 5px;
}

/* mobile background */
@media (max-width: 600px) {
    section.cover {
        background-image: url("https://upyun.shouhuxingguang.cn/mobile.jpg")!important;
        background-position: center!important;
    }
    section.cover.has-mask .mask {
        opacity: 0.2;
    }
    h1{
        display: none;
    }
    .cover-main blockquote{
        position: relative;
        top: 3rem;
        color: white;
        text-shadow: 1px 1px 5px rgba(255, 231, 74, 0.848)!important;
    }
    .toc-nav{
        display: none;
    }
}

.docsify-copy-code-button{
    border-radius: 5px!important;
    padding: 0.5em 0.8em!important;
    font-size: 0.8em!important;
}

.search input{
    border-radius: 5px;
}